django>=5.0
celery
redis
pymysql
psutil
requests
libtorrent; sys_platform != 'win32'
django-unfold
djangorestframework
django-cors-headers
django-celery-results
django-import-export
django-guardian
django-simple-history
