django>=5.1
celery>=5.3.0
redis>=5.0.0
pymysql
psutil
requests>=2.31.0
libtorrent; sys_platform != 'win32'
django-unfold
djangorestframework>=3.14.0
django-cors-headers>=4.0.0
django-celery-results
django-import-export
django-guardian
django-simple-history
python-dotenv
