# Anime Offline DB Gereksinimleri

# Veritabanı
mysql-connector-python>=8.4.0

# HTTP istekleri
requests>=2.32.5

# Cloudflare bypass (opsiyonel, bazı adaptörler için gerekli)
curl_cffi>=0.9.0

# HTML parsing
lxml>=4.9.4

# Git (opsiyonel)
GitPython>=3.1.46

# Web API
flask>=3.1.2

# Video işleme
yt-dlp==2024.07.25
# TurkAnime bypass için
pycryptodome>=3.23.0
appdirs>=1.4.4
python-dotenv>=1.2.1
